theme "catppuccin-mocha" // or latte, frappe and macchiato
keybinds {
    session {
        unbind "Ctrl o"
        bind "Ctrl l" { SwitchToMode "Normal"; }
    }
    shared_except "session" "locked" {
        unbind "Ctrl o"
        bind "Ctrl l" { SwitchToMode "Session"; }
    }
}