theme "catppuccin-mocha" // or latte, frappe and macchiato
keybinds {
    session {
        bind "Ctrl i" { SwitchToMode "Normal"; }
    }
    shared_except "session" "locked" {
        bind "Ctrl i" { SwitchToMode "Session"; }
    }
}
